<div id="<%= dom_id configuration %>">
  <div>
    <strong>Compute cost per hour:</strong>
    <%= configuration.compute_cost_per_hour %>
  </div>

  <div>
    <strong>Database cost per hour:</strong>
    <%= configuration.database_cost_per_hour %>
  </div>

</div>
